@model WebSite.EndPoint.Models.ViewModels.User.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-content">
    <div class="container">
        <div class="auth-wrapper">
            <div class="auth-form shadow-around">
                <div class="site-logo">
                    <a href="#">
                        <img src="~/theme/assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="auth-form-title">
                    یادآوری کلمه عبور
                </div>

                @if (ViewBag.meesage != null)
                {
                    <div class="alert alert-info">
                        @ViewBag.meesage
                    </div>
                }

                <form asp-action="ForgotPassword">
                    <div class="form-element-row">
                        <label asp-for="Email" class="label-element">ایمیل</label>
                        <div class="form-element-with-icon">
                            <input type="text" class="input-element" asp-for="Email">
                           <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="form-element-row text-left">
                        <input type="submit" value=" یادآوری کلمه عبور" class="btn-element btn-success-element">
                                                                   
                    </div>

                </form>
                <div class="auth-form-footer">
                    <span>کاربر جدید هستید؟</span>
                    <a asp-controller="Account" asp-action="Register" class="link--with-border-bottom">ثبت نام در همتا</a>
                </div>
            </div>
        </div>
    </div>
</main>

